# Database Configurations
POSTGRES_URI=
MONGO_URI=
REDIS_URI=
QDRANT_URI=

# Kafka
KAFKA_BROKERS=

# APIs
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Security
JWT_SECRET_KEY=

# ML
MODEL_CHECKPOINT_DIR=/models/checkpoints
