# Database Configurations
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=recsys
POSTGRES_USER=user
POSTGRES_PASSWORD=password

MONGO_URI=mongodb://user:password@localhost:27017/
MONGO_DATABASE=recsys

REDIS_HOST=localhost
REDIS_PORT=6379

QDRANT_URI=http://localhost:6333

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INTERACTION_TOPIC=user.interactions
KAFKA_RECOMMENDATION_TOPIC=recommendations.served
KAFKA_FEEDBACK_TOPIC=recommendations.feedback

# APIs
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Security
JWT_SECRET_KEY=

# ML
MODEL_CHECKPOINT_DIR=/models/checkpoints
